[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "shells/zsh/zinit/bin"]
	path = shells/zsh/zinit/bin
	url = https://github.com/zdharma/zinit
[submodule "powerlevel10k"]
	path = shells/zsh/zinit/plugins/romkatv---powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
