[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "shells/zsh/zinit/bin"]
	path = shells/zsh/zinit/bin
	url = https://github.com/zdharma/zinit
[submodule "shells/scripts/base16-shell"]
	path = shells/scripts/base16-shell
	url = https://github.com/chriskempson/base16-shell
